@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    margin: 0px;
    box-sizing: border-box;
}

.bg-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.nav {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    width: 100%;
}

.navbar {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;

}

.nav-items {
    display: none;
}



@media screen and (min-width : 768px) {
    .nav-items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-grow: 1;
    }
}

.nav-items a {
    text-decoration: none;
    color: #000;
    list-style-type: none;
}

.nav-items a:hover {
    color: red;
}

.small-devices-popup-container {
    display: none;
}

.small-devices-popup-container-ul a {
    text-decoration: none;
    color: #000;
    list-style-type: none;

    font-family: 'Sans-Serif';
    font-size: 1.5rem;
}

.small-devices-popup-container-ul a:hover {
    color: red;
}


.small-devices-popup-container-ul .navbar ul li {
    list-style-type: none;
    color: #000;
    font-family: 'Sans-Serif';
}

.nav-logo {
    mix-blend-mode: darken;
    height: 50px;
    width: 50px;
}

.nav-icons {
    display: none;
}

@media screen and (min-width : 768px) {
    .nav-icons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 15%;
    }
}

.nav-icons a {
    list-style-type: none;
    color: #000;
}

.nav-icons a:hover {
    color: red;
}


.hamburger-icon {
    display: inline;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


@media screen and (min-width : 768px) {
    .hamburger-icon {
        display: none;
    }
}

.bottom-container {
    background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQPbByMF9slJh-w33AvJQxWCYST2b-q7BuBHktB-0Yt9CLgZSik');
    background-size: cover;
    min-height: 78.3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.bottom-banner-bg {
    padding: 10px;
    border-radius: 2px;
    width: 90%;
    background-color: #f05454;
    overflow: hidden;
}

.bottom-banner-bg h2 {
    font-family: 'Sans-Serif';
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}

.bottom-banner-bg p {
    color: #fef;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 50;
}

.order-section {
    background: rgb(228, 203, 14);
    background: -moz-linear-gradient(266deg, rgba(228, 203, 14, 1) 24%, rgba(255, 0, 224, 1) 100%);
    background: -webkit-linear-gradient(266deg, rgba(228, 203, 14, 1) 24%, rgba(255, 0, 224, 1) 100%);
    background: linear-gradient(266deg, rgba(228, 203, 14, 1) 24%, rgba(255, 0, 224, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4cb0e", endColorstr="#ff00e0", GradientType=1);
    min-height: 20vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-section h1 {
    font-family: 'Sans-Serif';
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.order-cards-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width : 768px) {
    .order-cards-container {
        flex-direction: row;
    }
}

.order-cards-container li {
    width: 60%;
    list-style-type: none;
    background-color: #fff;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 20px 15px;
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (min-width : 768px) {
    .order-cards-container li {
        width: 30%;
        margin: 10px 15px;

    }
}

.order-cards-container li h4 {
    color: #000;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: bold;
}

.order-cards-container li p {
    color: #000;
    font-family: "Roboto";
    font-size: 10px;
    overflow: hidden;
}

.order-cards-container li img {
    width: 100%;
    border-top-right-radius: 25px;
    height: 150px;
}

.order-button {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Sans-Serif';
    font-size: 1rem;
    font-weight: bold;
}
